Repository apple/swift-homomorphic-encryption: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockwood-swiftformat, swiftlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: fix-byte-order-marker
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.3
    hooks:
      - id: typos
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: insert-license
        types_or: [c, swift, proto]
        args:
          - --license-filepath
          - copyright-header.txt
          - --comment-style
          - //
          - --allow-past-years
          - --use-current-year
          - --detect-license-in-X-top-lines=11
      - id: insert-license
        name: insert-license-sh
        types_or: [shell]
        args:
          - --license-filepath
          - copyright-header.txt
          - --comment-style
          - "##"
          - --allow-past-years
          - --use-current-year
  - repo: local
    hooks:
      # https://github.com/nicklockwood/SwiftFormat
      - id: lockwood-swiftformat
        name: lockwood-swiftformat
        entry: swiftformat
        language: system
        types: [swift]
      # https://github.com/apple/swift-format
      - id: apple-swift-format
        name: apple-swift-format
        entry: ci/run-apple-swift-format.sh
        language: script
        pass_filenames: false
      # https://github.com/realm/SwiftLint
      - id: swiftlint
        name: swiftlint
        entry: swiftlint lint --strict
        language: system
        exclude: DoubleWidthUInt.swift|.pb.swift
        types: [swift]

Allow up to 32 coefficient moduli (#199)
  .github/workflows/ci.yml
  Benchmarks/RlweBenchmark/RlweBenchmark.swift
  Sources/HomomorphicEncryption/Bfv/Bfv+Decrypt.swift
  Sources/HomomorphicEncryption/DoubleWidthUInt.swift
  Sources/HomomorphicEncryption/EncryptionParameters.swift
  Sources/HomomorphicEncryption/PolyRq/PolyContext.swift
  Sources/HomomorphicEncryption/RnsTool.swift
  Sources/HomomorphicEncryption/Util.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
  Tests/HomomorphicEncryptionTests/PolyRqTests/PolyContextTests.swift
  Tests/HomomorphicEncryptionTests/UtilTests.swift
Due: lockwood-swiftformat, swiftlint

Update documentation links to 1.0.4
  README.md
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/HomomorphicEncryption.md
  Sources/HomomorphicEncryptionProtobuf/HomomorphicEncryptionProtobuf.docc/HomomorphicEncryptionProtobuf.md
  Sources/PIRGenerateDatabase/PIRGenerateDatabase.docc/PIRGenerateDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/PIRProcessDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/ReusingPirParameters.md
  Sources/PIRShardDatabase/PIRShardDatabase.docc/PIRShardDatabase.md
  Sources/PNNSGenerateDatabase/PNNSGenerateDatabase.docc/PNNSGenerateDatabase.md
  Sources/PNNSProcessDatabase/PNNSProcessDatabase.docc/PNNSProcessDatabase.md
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/EncodingPipeline.md
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/ParameterTuning.md
  Sources/PrivateInformationRetrievalProtobuf/PrivateInformationRetrievalProtobuf.docc/PrivateInformationRetrievalProtobuf.md
  Sources/PrivateNearestNeighborSearch/PrivateNearestNeighborSearch.docc/PrivateNearestNeighborSearch.md
  Sources/PrivateNearestNeighborSearchProtobuf/PrivateNearestNeighborSearchProtobuf.docc/PrivateNearestNeighborSearch.md
Due: none

Update documentation links to 1.0.4 (#200)
  README.md
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/HomomorphicEncryption.md
  Sources/HomomorphicEncryptionProtobuf/HomomorphicEncryptionProtobuf.docc/HomomorphicEncryptionProtobuf.md
  Sources/PIRGenerateDatabase/PIRGenerateDatabase.docc/PIRGenerateDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/PIRProcessDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/ReusingPirParameters.md
  Sources/PIRShardDatabase/PIRShardDatabase.docc/PIRShardDatabase.md
  Sources/PNNSGenerateDatabase/PNNSGenerateDatabase.docc/PNNSGenerateDatabase.md
  Sources/PNNSProcessDatabase/PNNSProcessDatabase.docc/PNNSProcessDatabase.md
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/EncodingPipeline.md
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/ParameterTuning.md
  Sources/PrivateInformationRetrievalProtobuf/PrivateInformationRetrievalProtobuf.docc/PrivateInformationRetrievalProtobuf.md
  Sources/PrivateNearestNeighborSearch/PrivateNearestNeighborSearch.docc/PrivateNearestNeighborSearch.md
  Sources/PrivateNearestNeighborSearchProtobuf/PrivateNearestNeighborSearchProtobuf.docc/PrivateNearestNeighborSearch.md
Due: none

Faster context creation
  Sources/HomomorphicEncryption/Context.swift
  Sources/HomomorphicEncryption/PolyRq/PolyContext.swift
  Sources/HomomorphicEncryption/PolyRq/PolyRq+Ntt.swift
  Sources/HomomorphicEncryption/RnsTool.swift
  Sources/HomomorphicEncryption/Util.swift
  Tests/HomomorphicEncryptionTests/PolyRqTests/PolyContextTests.swift
  Tests/HomomorphicEncryptionTests/RnsToolTests.swift
  Tests/HomomorphicEncryptionTests/UtilTests.swift
Due: lockwood-swiftformat, swiftlint

Avoid modulus overflow
  Sources/HomomorphicEncryption/PolyRq/PolyContext.swift
  Sources/HomomorphicEncryption/RnsTool.swift
  Sources/HomomorphicEncryption/Util.swift
  Tests/HomomorphicEncryptionTests/PolyRqTests/PolyContextTests.swift
  Tests/HomomorphicEncryptionTests/UtilTests.swift
Due: lockwood-swiftformat, swiftlint

Faster context creation (#201)
  Sources/HomomorphicEncryption/Context.swift
  Sources/HomomorphicEncryption/PolyRq/PolyContext.swift
  Sources/HomomorphicEncryption/PolyRq/PolyRq+Ntt.swift
  Sources/HomomorphicEncryption/RnsTool.swift
  Sources/HomomorphicEncryption/Util.swift
  Tests/HomomorphicEncryptionTests/PolyRqTests/PolyContextTests.swift
  Tests/HomomorphicEncryptionTests/RnsToolTests.swift
  Tests/HomomorphicEncryptionTests/UtilTests.swift
Due: lockwood-swiftformat, swiftlint

Remove benchmarks-releated packages from Package.resolved
  Package.resolved
Due: none

Remove benchmarks-related packages from Package.resolved (#202)
  Package.resolved
Due: none

Update swift-homomorphic-encryption-protobuf
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
Due: lockwood-swiftformat

Update swift-homomorphic-encryption-protobuf (#203)
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
Due: lockwood-swiftformat

Inline Pnns tests
  Sources/TestUtilities/PnnsUtilities/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Inline Pnns tests (#205)
  Sources/TestUtilities/PnnsUtilities/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Fix EvalCiphertext serialization
  Sources/HomomorphicEncryption/SerializedCiphertext.swift
  Tests/HomomorphicEncryptionProtobufTests/ConversionTests.swift
  Tests/HomomorphicEncryptionTests/SerializationTests.swift
Due: lockwood-swiftformat, swiftlint

Fix EvalCiphertext serialization (#204)
  Sources/HomomorphicEncryption/SerializedCiphertext.swift
  Tests/HomomorphicEncryptionProtobufTests/ConversionTests.swift
  Tests/HomomorphicEncryptionTests/SerializationTests.swift
Due: lockwood-swiftformat, swiftlint

Inline Pnns tests (#206)
  Sources/TestUtilities/PnnsUtilities/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Fix EvalCiphertext serialization (#204) (#207)
  Sources/HomomorphicEncryption/SerializedCiphertext.swift
  Tests/HomomorphicEncryptionProtobufTests/ConversionTests.swift
  Tests/HomomorphicEncryptionTests/SerializationTests.swift
Due: lockwood-swiftformat, swiftlint

Fix EvalCiphertext serialization
  Sources/HomomorphicEncryption/SerializedCiphertext.swift
  Tests/HomomorphicEncryptionTests/SerializationTests.swift
Due: lockwood-swiftformat, swiftlint

Remove swift 5.8 from linux_exclude_swift_versions in CI
  .github/workflows/ci.yml
Due: none

standardize applyGalois to evaluationKey argument & adds missing docs
  Sources/HomomorphicEncryption/Ciphertext.swift
  Sources/HomomorphicEncryption/HeScheme.swift
  Sources/HomomorphicEncryption/HeSchemeAsync.swift
Due: lockwood-swiftformat, swiftlint

Remove swift 5.8 from linux_exclude_swift_versions in CI (#211)
  .github/workflows/ci.yml
Due: none

Make Apple_SwiftHomomorphicEncryption_Pir_V1_KeywordPirParameters.native() throwing
  Sources/PrivateInformationRetrievalProtobuf/ConversionPir.swift
  Tests/PrivateInformationRetrievalProtobufTests/ConversionTests.swift
Due: lockwood-swiftformat, swiftlint

Remove public description() APIs in executables
  Sources/PIRProcessDatabase/main.swift
  Sources/PNNSProcessDatabase/ProcessDatabase.swift
Due: lockwood-swiftformat, swiftlint

Remove public description() APIs in executables (#214)
  Sources/PIRProcessDatabase/main.swift
  Sources/PNNSProcessDatabase/ProcessDatabase.swift
Due: lockwood-swiftformat, swiftlint

Make Apple_SwiftHomomorphicEncryption_Pir_V1_KeywordPirParameters.native() throwing (#213)
  Sources/PrivateInformationRetrievalProtobuf/ConversionPir.swift
  Tests/PrivateInformationRetrievalProtobufTests/ConversionTests.swift
Due: lockwood-swiftformat, swiftlint

Remove Modulus snippet and ModularArithmetic export
  Snippets/HomomorphicEncryption/ModulusSnippet.swift
  Sources/HomomorphicEncryption/DoubleWidthUInt.swift
  Sources/HomomorphicEncryption/Exports.swift
  Sources/HomomorphicEncryption/Util.swift
  Sources/TestUtilities/HeApiTestUtils.swift
  Sources/TestUtilities/PirUtilities/ExpansionTests.swift
  Sources/TestUtilities/PnnsUtilities/CiphertextMatrixTests.swift
  Sources/TestUtilities/PnnsUtilities/MatrixMultiplicationTests.swift
  Sources/TestUtilities/PnnsUtilities/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Remove Modulus snippet and ModularArithmetic export (#216)
  Snippets/HomomorphicEncryption/ModulusSnippet.swift
  Sources/HomomorphicEncryption/DoubleWidthUInt.swift
  Sources/HomomorphicEncryption/Exports.swift
  Sources/HomomorphicEncryption/Util.swift
  Sources/TestUtilities/HeApiTestUtils.swift
  Sources/TestUtilities/PirUtilities/ExpansionTests.swift
  Sources/TestUtilities/PnnsUtilities/CiphertextMatrixTests.swift
  Sources/TestUtilities/PnnsUtilities/MatrixMultiplicationTests.swift
  Sources/TestUtilities/PnnsUtilities/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

PIRBenchmark report evaluation key / query / response counts
  Sources/BenchmarkUtilities/PirBenchmarkUtilities.swift
Due: lockwood-swiftformat, swiftlint

PIRBenchmark report evaluation key / query / response counts (#218)
  Sources/BenchmarkUtilities/PirBenchmarkUtilities.swift
Due: lockwood-swiftformat, swiftlint

PIRBenchmark report evaluation key / query / response counts (#217)
  Sources/BenchmarkUtilities/PirBenchmarkUtilities.swift
Due: lockwood-swiftformat, swiftlint

Add SymmetricPIR key gen and documentation
  Sources/HomomorphicEncryption/Util.swift
  Sources/HomomorphicEncryption/Zeroization.swift
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/PIRProcessDatabase.md
  Sources/PIRProcessDatabase/main.swift
  Sources/PIRShardDatabase/ShardDatabase.swift
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/PrivateInformationRetrieval.md
  Sources/PrivateInformationRetrieval/SymmetricPIRProtocol.swift
  Sources/PrivateInformationRetrieval/SymmetricPirDatabase.swift
  Sources/TestUtilities/PirUtilities/SymmetricPirTests.swift
  Tests/PrivateInformationRetrievalTests/SymmetricPIRTests.swift
Due: lockwood-swiftformat, swiftlint

Update protos for error API
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_api.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_api.pb.swift
Due: lockwood-swiftformat

Update Protos - Error API
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_api.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_api.pb.swift
Due: lockwood-swiftformat
