Repository apple/swift-homomorphic-encryption: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockwood-swiftformat, swiftlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: fix-byte-order-marker
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.3
    hooks:
      - id: typos
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: insert-license
        types_or: [c, swift, proto]
        args:
          - --license-filepath
          - copyright-header.txt
          - --comment-style
          - //
          - --allow-past-years
          - --use-current-year
          - --detect-license-in-X-top-lines=11
      - id: insert-license
        name: insert-license-sh
        types_or: [shell]
        args:
          - --license-filepath
          - copyright-header.txt
          - --comment-style
          - "##"
          - --allow-past-years
          - --use-current-year
  - repo: local
    hooks:
      # https://github.com/nicklockwood/SwiftFormat
      - id: lockwood-swiftformat
        name: lockwood-swiftformat
        entry: swiftformat
        language: system
        types: [swift]
      # https://github.com/apple/swift-format
      - id: apple-swift-format
        name: apple-swift-format
        entry: ci/run-apple-swift-format.sh
        language: script
        pass_filenames: false
      # https://github.com/realm/SwiftLint
      - id: swiftlint
        name: swiftlint
        entry: swiftlint lint --strict
        language: system
        exclude: DoubleWidthUInt.swift|.pb.swift
        types: [swift]

Update Protos - Error API (#221)
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_api.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_api.pb.swift
Due: lockwood-swiftformat

Update protos for error API (#220)
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_api.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_api.pb.swift
Due: lockwood-swiftformat

Add SymmetricPIR key gen and documentation (#219)
  Sources/HomomorphicEncryption/Util.swift
  Sources/HomomorphicEncryption/Zeroization.swift
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/PIRProcessDatabase.md
  Sources/PIRProcessDatabase/main.swift
  Sources/PIRShardDatabase/ShardDatabase.swift
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/PrivateInformationRetrieval.md
  Sources/PrivateInformationRetrieval/SymmetricPIRProtocol.swift
  Sources/PrivateInformationRetrieval/SymmetricPirDatabase.swift
  Sources/TestUtilities/PirUtilities/SymmetricPirTests.swift
  Tests/PrivateInformationRetrievalTests/SymmetricPIRTests.swift
Due: lockwood-swiftformat, swiftlint

Add SymmetricPIR key gen and docs - release/1.1
  Sources/HomomorphicEncryption/Util.swift
  Sources/HomomorphicEncryption/Zeroization.swift
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/PIRProcessDatabase.md
  Sources/PIRProcessDatabase/main.swift
  Sources/PIRShardDatabase/ShardDatabase.swift
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/PrivateInformationRetrieval.md
  Sources/PrivateInformationRetrieval/SymmetricPIRProtocol.swift
  Sources/PrivateInformationRetrieval/SymmetricPirDatabase.swift
  Sources/TestUtilities/PirUtilities/SymmetricPirTests.swift
  Tests/PrivateInformationRetrievalTests/SymmetricPIRTests.swift
Due: lockwood-swiftformat, swiftlint

Add SymmetricPIR key gen and docs - release/1.1 (#222)
  Sources/HomomorphicEncryption/Util.swift
  Sources/HomomorphicEncryption/Zeroization.swift
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/PIRProcessDatabase.md
  Sources/PIRProcessDatabase/main.swift
  Sources/PIRShardDatabase/ShardDatabase.swift
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/PrivateInformationRetrieval.md
  Sources/PrivateInformationRetrieval/SymmetricPIRProtocol.swift
  Sources/PrivateInformationRetrieval/SymmetricPirDatabase.swift
  Sources/TestUtilities/PirUtilities/SymmetricPirTests.swift
  Tests/PrivateInformationRetrievalTests/SymmetricPIRTests.swift
Due: lockwood-swiftformat, swiftlint

Update to swiftlint 0.59.1 Update SwiftFormat to 0.56.4
  .github/workflows/ci.yml
  README.md
  Snippets/HomomorphicEncryption/SerializationSnippet.swift
  Sources/PrivateInformationRetrieval/HashBucket.swift
  Sources/TestUtilities/PirUtilities/IndexPirTests.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
  Tests/HomomorphicEncryptionTests/PolyRqTests/PolyContextTests.swift
Due: lockwood-swiftformat, swiftlint

Update to swiftlint 0.59.1 & SwiftFormat 0.56.4 (#223)
  .github/workflows/ci.yml
  README.md
  Snippets/HomomorphicEncryption/SerializationSnippet.swift
  Sources/PrivateInformationRetrieval/HashBucket.swift
  Sources/TestUtilities/PirUtilities/IndexPirTests.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
  Tests/HomomorphicEncryptionTests/PolyRqTests/PolyContextTests.swift
Due: lockwood-swiftformat, swiftlint

Fix EvalCiphertext serialization (#209)
  Sources/HomomorphicEncryption/SerializedCiphertext.swift
  Tests/HomomorphicEncryptionTests/SerializationTests.swift
Due: lockwood-swiftformat, swiftlint

Add underscore prefix to BenchmarkUtilities and TestUtilities folders
  Package.swift
  Sources/_BenchmarkUtilities/BenchmarkMetricExtensions.swift
  Sources/_BenchmarkUtilities/PirBenchmarkUtilities.swift
  Sources/_BenchmarkUtilities/PnnsBenchmarkUtilities.swift
  Sources/_TestUtilities/HeApiTestUtils.swift
  Sources/_TestUtilities/PirUtilities/ExpansionTests.swift
  Sources/_TestUtilities/PirUtilities/IndexPirTests.swift
  Sources/_TestUtilities/PirUtilities/KeywordPirTests.swift
  Sources/_TestUtilities/PirUtilities/MulPirTests.swift
  Sources/_TestUtilities/PirUtilities/PirTestUtils.swift
  Sources/_TestUtilities/PirUtilities/SymmetricPirTests.swift
  Sources/_TestUtilities/PnnsUtilities/CiphertextMatrixTests.swift
  Sources/_TestUtilities/PnnsUtilities/ClientTests.swift
  Sources/_TestUtilities/PnnsUtilities/CosineSimilarityTests.swift
  Sources/_TestUtilities/PnnsUtilities/DatabaseTests.swift
  Sources/_TestUtilities/PnnsUtilities/MatrixMultiplicationTests.swift
  Sources/_TestUtilities/PnnsUtilities/PlaintextMatrixTests.swift
  Sources/_TestUtilities/PnnsUtilities/PnnsUtils.swift
  Sources/_TestUtilities/TestUtilities.swift
Due: lockwood-swiftformat, swiftlint

Add underscore prefix to BenchmarkUtilities and TestUtilities folders (#224)
  Package.swift
  Sources/_BenchmarkUtilities/BenchmarkMetricExtensions.swift
  Sources/_BenchmarkUtilities/PirBenchmarkUtilities.swift
  Sources/_BenchmarkUtilities/PnnsBenchmarkUtilities.swift
  Sources/_TestUtilities/HeApiTestUtils.swift
  Sources/_TestUtilities/PirUtilities/ExpansionTests.swift
  Sources/_TestUtilities/PirUtilities/IndexPirTests.swift
  Sources/_TestUtilities/PirUtilities/KeywordPirTests.swift
  Sources/_TestUtilities/PirUtilities/MulPirTests.swift
  Sources/_TestUtilities/PirUtilities/PirTestUtils.swift
  Sources/_TestUtilities/PirUtilities/SymmetricPirTests.swift
  Sources/_TestUtilities/PnnsUtilities/CiphertextMatrixTests.swift
  Sources/_TestUtilities/PnnsUtilities/ClientTests.swift
  Sources/_TestUtilities/PnnsUtilities/CosineSimilarityTests.swift
  Sources/_TestUtilities/PnnsUtilities/DatabaseTests.swift
  Sources/_TestUtilities/PnnsUtilities/MatrixMultiplicationTests.swift
  Sources/_TestUtilities/PnnsUtilities/PlaintextMatrixTests.swift
  Sources/_TestUtilities/PnnsUtilities/PnnsUtils.swift
  Sources/_TestUtilities/TestUtilities.swift
Due: lockwood-swiftformat, swiftlint

Make PIR & PNNS benchmarks more general
  Benchmarks/PrivateInformationRetrievalBenchmark/PirBenchmark.swift
  Benchmarks/PrivateNearestNeighborSearchBenchmark/PnnsBenchmark.swift
  Sources/PrivateInformationRetrieval/KeywordPirProtocol.swift
  Sources/_BenchmarkUtilities/BenchmarkMetricExtensions.swift
  Sources/_BenchmarkUtilities/PirBenchmarkUtilities.swift
  Sources/_BenchmarkUtilities/PnnsBenchmarkUtilities.swift
Due: lockwood-swiftformat, swiftlint

Make PIR & PNNS benchmarks more general (#225)
  Benchmarks/PrivateInformationRetrievalBenchmark/PirBenchmark.swift
  Benchmarks/PrivateNearestNeighborSearchBenchmark/PnnsBenchmark.swift
  Sources/PrivateInformationRetrieval/KeywordPirProtocol.swift
  Sources/_BenchmarkUtilities/BenchmarkMetricExtensions.swift
  Sources/_BenchmarkUtilities/PirBenchmarkUtilities.swift
  Sources/_BenchmarkUtilities/PnnsBenchmarkUtilities.swift
Due: lockwood-swiftformat, swiftlint

Add _HomomorphicEncryptionExtras
  Package.swift
  Sources/HomomorphicEncryption/Ciphertext.swift
  Sources/HomomorphicEncryption/HeScheme.swift
  Sources/HomomorphicEncryption/Keys.swift
  Sources/PrivateNearestNeighborSearch/MatrixMultiplication.swift
  Sources/_HomomorphicEncryptionExtras/Ciphertext.swift
  Sources/_HomomorphicEncryptionExtras/HeScheme.swift
  Sources/_TestUtilities/HeApiTestUtils.swift
Due: lockwood-swiftformat, swiftlint

Add _HomomorphicEncryptionExtras (#226)
  Package.swift
  Sources/HomomorphicEncryption/Ciphertext.swift
  Sources/HomomorphicEncryption/HeScheme.swift
  Sources/HomomorphicEncryption/Keys.swift
  Sources/PrivateNearestNeighborSearch/MatrixMultiplication.swift
  Sources/_HomomorphicEncryptionExtras/Ciphertext.swift
  Sources/_HomomorphicEncryptionExtras/HeScheme.swift
  Sources/_TestUtilities/HeApiTestUtils.swift
Due: lockwood-swiftformat, swiftlint

Add PolyRq/removeLastRows
  Package.swift
  Sources/HomomorphicEncryption/Array2d.swift
  Sources/HomomorphicEncryption/Error.swift
  Sources/HomomorphicEncryption/PolyRq/PolyContext.swift
  Sources/_HomomorphicEncryptionExtras/PolyRq.swift
  Tests/HomomorphicEncryptionExtrasTests/PolyRqTests/PolyRqTests.swift
Due: lockwood-swiftformat, swiftlint

Add PolyRq/removeLastRows (#227)
  Package.swift
  Sources/HomomorphicEncryption/Array2d.swift
  Sources/HomomorphicEncryption/Error.swift
  Sources/HomomorphicEncryption/PolyRq/PolyContext.swift
  Sources/_HomomorphicEncryptionExtras/PolyRq.swift
  Tests/HomomorphicEncryptionExtrasTests/PolyRqTests/PolyRqTests.swift
Due: lockwood-swiftformat, swiftlint

Fix reference to reduceProduct
  Sources/ModularArithmetic/Modulus.swift
Due: lockwood-swiftformat, swiftlint

Fix reference to reduceProduct (#228)
  Sources/ModularArithmetic/Modulus.swift
Due: lockwood-swiftformat, swiftlint

Add Network Extension URL Filter to list of adopters
  README.md
Due: none

Add ServiceProtobuf
  Package.resolved
  Package.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/README.md
  Sources/PrivateNearestNeighborSearchProtobuf/generated/README.md
  Sources/ServiceProtobuf/ConversionError.swift
  Sources/ServiceProtobuf/PirConversion.swift
  Sources/ServiceProtobuf/PirConversionApi.swift
  Sources/ServiceProtobuf/PnnsConversion.swift
  Sources/ServiceProtobuf/PnnsConversionApi.swift
  Sources/ServiceProtobuf/generated/README.md
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_pnns.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_api_v1_api.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_algorithm.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_database.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_client_config.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_database.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_distance_metric.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_matrix_packing.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_processed_database.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_server_config.pb.swift
  Sources/ServiceProtobuf/protobuf_module_mappings.txtpb
  Utilities/generate-protobuf-files.sh
Due: lockwood-swiftformat, swiftlint

Update README.md
  README.md
Due: none

Add Network Extension URL Filter to list of adopters (#229)
  README.md
Due: none

Add ServiceProtobuf
  Package.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/README.md
  Sources/PrivateNearestNeighborSearchProtobuf/generated/README.md
  Sources/ServiceProtobuf/ConversionError.swift
  Sources/ServiceProtobuf/PirConversion.swift
  Sources/ServiceProtobuf/PirConversionApi.swift
  Sources/ServiceProtobuf/PnnsConversion.swift
  Sources/ServiceProtobuf/PnnsConversionApi.swift
  Sources/ServiceProtobuf/generated/README.md
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_pnns.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_api_v1_api.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_algorithm.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_database.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_client_config.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_database.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_distance_metric.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_matrix_packing.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_processed_database.pb.swift
  Sources/ServiceProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_server_config.pb.swift
  Sources/ServiceProtobuf/protobuf_module_mappings.txtpb
  Tests/ServiceProtobufTests/PirConversionTests.swift
  Tests/ServiceProtobufTests/PnnsConversionTests.swift
  Utilities/generate-protobuf-files.sh
Due: lockwood-swiftformat, swiftlint

Update to latest swift-homomoprhic-encryption-protobuf
  Package.resolved
  Package.swift
  README.md
  Sources/HomomorphicEncryptionProtobuf/generated/apple_swift_homomorphic_encryption_v1_error_stddev.pb.swift
  Sources/HomomorphicEncryptionProtobuf/generated/apple_swift_homomorphic_encryption_v1_he.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_api.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_algorithm.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_database.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_api.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_pnns.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_client_config.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_database.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_distance_metric.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_matrix_packing.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_processed_database.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_server_config.pb.swift
Due: lockwood-swiftformat, swiftlint

Update to latest swift-homomoprhic-encryption-protobuf (#230)
  Package.resolved
  Package.swift
  README.md
  Sources/HomomorphicEncryptionProtobuf/generated/apple_swift_homomorphic_encryption_v1_error_stddev.pb.swift
  Sources/HomomorphicEncryptionProtobuf/generated/apple_swift_homomorphic_encryption_v1_he.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_api.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_algorithm.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_database.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_api.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_pnns.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_client_config.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_database.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_distance_metric.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_matrix_packing.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_processed_database.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_server_config.pb.swift
Due: lockwood-swiftformat, swiftlint

Update to latest swift-homomoprhic-encryption-protobuf (#231)
  Package.resolved
  Package.swift
  README.md
  Sources/HomomorphicEncryptionProtobuf/generated/apple_swift_homomorphic_encryption_v1_error_stddev.pb.swift
  Sources/HomomorphicEncryptionProtobuf/generated/apple_swift_homomorphic_encryption_v1_he.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_api.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_algorithm.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_database.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_api.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_pnns.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_client_config.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_database.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_distance_metric.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_matrix_packing.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_processed_database.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_server_config.pb.swift
Due: lockwood-swiftformat, swiftlint

Add ApplicationProtobuf
  Package.swift
  Snippets/.swiftformat
  Snippets/.swiftlint.yml
  Snippets/HomomorphicEncryption/SerializationSnippet.swift
  Sources/ApplicationProtobuf/ApplicationProtobuf.docc/ApplicationProtobuf.md
  Sources/ApplicationProtobuf/ConversionError.swift
  Sources/ApplicationProtobuf/PirConversion.swift
  Sources/ApplicationProtobuf/PirConversionApi.swift
  Sources/ApplicationProtobuf/PnnsConversion.swift
  Sources/ApplicationProtobuf/PnnsConversionApi.swift
  Sources/ApplicationProtobuf/generated/README.md
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_pnns.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_v1_api.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_algorithm.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_client_config.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_distance_metric.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_matrix_packing.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_processed_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_server_config.pb.swift
  Sources/ApplicationProtobuf/protobuf_module_mappings.txtpb
  Sources/HomomorphicEncryptionProtobuf/ConversionError.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/README.md
  Sources/PrivateNearestNeighborSearchProtobuf/generated/README.md
  Tests/ApplicationProtobufTests/PirConversionTests.swift
  Tests/ApplicationProtobufTests/PnnsConversionTests.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
  Tests/HomomorphicEncryptionTests/PolyRqTests/PolyContextTests.swift
  Utilities/generate-protobuf-files.sh
Due: lockwood-swiftformat, swiftlint

Add ApplicationProtobuf (#232)
  Package.swift
  Snippets/.swiftformat
  Snippets/.swiftlint.yml
  Snippets/HomomorphicEncryption/SerializationSnippet.swift
  Sources/ApplicationProtobuf/ApplicationProtobuf.docc/ApplicationProtobuf.md
  Sources/ApplicationProtobuf/ConversionError.swift
  Sources/ApplicationProtobuf/PirConversion.swift
  Sources/ApplicationProtobuf/PirConversionApi.swift
  Sources/ApplicationProtobuf/PnnsConversion.swift
  Sources/ApplicationProtobuf/PnnsConversionApi.swift
  Sources/ApplicationProtobuf/generated/README.md
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_pnns.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_v1_api.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_algorithm.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_client_config.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_distance_metric.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_matrix_packing.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_processed_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_server_config.pb.swift
  Sources/ApplicationProtobuf/protobuf_module_mappings.txtpb
  Sources/HomomorphicEncryptionProtobuf/ConversionError.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/README.md
  Sources/PrivateNearestNeighborSearchProtobuf/generated/README.md
  Tests/ApplicationProtobufTests/PirConversionTests.swift
  Tests/ApplicationProtobufTests/PnnsConversionTests.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
  Tests/HomomorphicEncryptionTests/PolyRqTests/PolyContextTests.swift
  Utilities/generate-protobuf-files.sh
Due: lockwood-swiftformat, swiftlint

Add ApplicationProtobuf
  Package.swift
  Sources/ApplicationProtobuf/ApplicationProtobuf.docc/ApplicationProtobuf.md
  Sources/ApplicationProtobuf/ConversionError.swift
  Sources/ApplicationProtobuf/PirConversion.swift
  Sources/ApplicationProtobuf/PirConversionApi.swift
  Sources/ApplicationProtobuf/PnnsConversion.swift
  Sources/ApplicationProtobuf/PnnsConversionApi.swift
  Sources/ApplicationProtobuf/generated/README.md
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_pnns.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_v1_api.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_algorithm.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_client_config.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_distance_metric.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_matrix_packing.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_processed_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_server_config.pb.swift
  Sources/ApplicationProtobuf/protobuf_module_mappings.txtpb
  Sources/HomomorphicEncryptionProtobuf/ConversionError.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/README.md
  Sources/PrivateNearestNeighborSearchProtobuf/generated/README.md
  Tests/ApplicationProtobufTests/PirConversionTests.swift
  Tests/ApplicationProtobufTests/PnnsConversionTests.swift
  Utilities/generate-protobuf-files.sh
Due: lockwood-swiftformat, swiftlint

Add ApplicationProtobuf (#233)
  Package.swift
  Sources/ApplicationProtobuf/ApplicationProtobuf.docc/ApplicationProtobuf.md
  Sources/ApplicationProtobuf/ConversionError.swift
  Sources/ApplicationProtobuf/PirConversion.swift
  Sources/ApplicationProtobuf/PirConversionApi.swift
  Sources/ApplicationProtobuf/PnnsConversion.swift
  Sources/ApplicationProtobuf/PnnsConversionApi.swift
  Sources/ApplicationProtobuf/generated/README.md
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_pnns.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_shared_v1_api_shared.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_api_v1_api.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_algorithm.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_client_config.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_distance_metric.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_matrix_packing.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_processed_database.pb.swift
  Sources/ApplicationProtobuf/generated/apple_swift_homomorphic_encryption_pnns_v1_pnns_server_config.pb.swift
  Sources/ApplicationProtobuf/protobuf_module_mappings.txtpb
  Sources/HomomorphicEncryptionProtobuf/ConversionError.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/README.md
  Sources/PrivateNearestNeighborSearchProtobuf/generated/README.md
  Tests/ApplicationProtobufTests/PirConversionTests.swift
  Tests/ApplicationProtobufTests/PnnsConversionTests.swift
  Utilities/generate-protobuf-files.sh
Due: lockwood-swiftformat, swiftlint

Use swift:6.1-noble for documentation check
  .github/workflows/ci.yml
Due: none

Use swift:6.1-noble for documentation check (#236)
  .github/workflows/ci.yml
Due: none

Use swift:6.1-noble for documentation check (#235)
  .github/workflows/ci.yml
Due: none

Update swiftlint 0.61.0 / swiftformat 0.58.3
  .github/workflows/ci.yml
  README.md
  Sources/_TestUtilities/PnnsUtilities/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Update swiftlint 0.61.0 / swiftformat 0.58.3 (#237)
  .github/workflows/ci.yml
  README.md
  Sources/_TestUtilities/PnnsUtilities/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint
