Repository apple/swift-homomorphic-encryption: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockwood-swiftformat, swiftlint

lockwood-swiftformat:
  name: lockwood-swiftformat
  entry: swiftformat
  language: system

swiftlint:
  name: swiftlint
  entry: swiftlint lint --strict
  language: system

Add missing DocC targets (#101)
  .spi.yml
Due: none

Adding Diagonal Unpacking for PlaintextMatrix
  Sources/PrivateNearestNeighborsSearch/PlaintextMatrix.swift
  Tests/PrivateNearestNeighborsSearchTests/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Adding Diagonal Unpacking for PlaintextMatrix (#102)
  Sources/PrivateNearestNeighborsSearch/PlaintextMatrix.swift
  Tests/PrivateNearestNeighborsSearchTests/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Faster ciphertext-plaintext addition and subtraction
  Sources/HomomorphicEncryption/Bfv/Bfv+Encrypt.swift
  Sources/HomomorphicEncryption/Modulus.swift
  Sources/HomomorphicEncryption/Scalar.swift
  Tests/HomomorphicEncryptionTests/ScalarTests.swift
Due: lockwood-swiftformat, swiftlint

updated security note in README.md
  README.md
Due: none

Faster ciphertext-plaintext addition and subtraction (#103)
  Sources/HomomorphicEncryption/Bfv/Bfv+Encrypt.swift
  Sources/HomomorphicEncryption/Modulus.swift
  Sources/HomomorphicEncryption/Scalar.swift
  Tests/HomomorphicEncryptionTests/ScalarTests.swift
Due: lockwood-swiftformat, swiftlint

Add more PNNS docs
  README.md
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/HomomorphicEncryption.md
  Sources/PNNSGenerateDatabase/PNNSGenerateDatabase.docc/PNNSGenerateDatabase.md
  Sources/PNNSProcessDatabase/PNNSProcessDatabase.docc/PNNSProcessDatabase.md
Due: none

Fix citation.cff
  CITATION.cff
Due: none

Adopt Swift 6
  .github/workflows/ci.yml
  Package.resolved
  Package.swift
  README.md
  Sources/HomomorphicEncryption/DoubleWidthUInt.swift
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/UsingSwiftHomomorphicEncryption.md
  Sources/HomomorphicEncryption/PolyRq/PolyRq+Randomize.swift
  Sources/HomomorphicEncryption/Random/NistCtrDrbg.swift
  Sources/HomomorphicEncryption/Scalar.swift
  Sources/HomomorphicEncryption/Util.swift
  Sources/HomomorphicEncryptionProtobuf/MessageExtensions.swift
  Tests/HomomorphicEncryptionTests/Array2dTests.swift
Due: lockwood-swiftformat, swiftlint

Add more PNNS docs (#105)
  README.md
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/HomomorphicEncryption.md
  Sources/PNNSGenerateDatabase/PNNSGenerateDatabase.docc/PNNSGenerateDatabase.md
  Sources/PNNSProcessDatabase/PNNSProcessDatabase.docc/PNNSProcessDatabase.md
Due: none

Fix citation.cff (#106)
  CITATION.cff
Due: none

Adopt Swift 6 (#107)
  .github/workflows/ci.yml
  Package.resolved
  Package.swift
  README.md
  Sources/HomomorphicEncryption/DoubleWidthUInt.swift
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/UsingSwiftHomomorphicEncryption.md
  Sources/HomomorphicEncryption/PolyRq/PolyRq+Randomize.swift
  Sources/HomomorphicEncryption/Random/NistCtrDrbg.swift
  Sources/HomomorphicEncryption/Scalar.swift
  Sources/HomomorphicEncryption/Util.swift
  Sources/HomomorphicEncryptionProtobuf/MessageExtensions.swift
  Tests/HomomorphicEncryptionTests/Array2dTests.swift
Due: lockwood-swiftformat, swiftlint

updated security note in README.md (#104)
  README.md
Due: none

Use Swift 6 for documentation
  .spi.yml
Due: none

Use Swift 6 for documentation (#108)
  .spi.yml
Due: none

Make Plaintext.poly internal
  Sources/HomomorphicEncryption/Encoding.swift
  Sources/HomomorphicEncryption/HeScheme.swift
  Sources/HomomorphicEncryption/Plaintext.swift
  Sources/HomomorphicEncryption/SerializedCiphertext.swift
  Sources/PrivateInformationRetrieval/IndexPirProtocol.swift
Due: lockwood-swiftformat, swiftlint

Fix specialization of sum
  Sources/HomomorphicEncryption/HeScheme.swift
Due: lockwood-swiftformat, swiftlint

Fix PrivateNearestNeighborsSearchProtobuf docs
  Sources/PrivateNearestNeighborsSearchProtobuf/PrivateNearestNeighborsSearchProtobuf.docc/PrivateNearestNeighborsSearch.md
Due: none

Make Plaintext.poly internal (#109)
  Sources/HomomorphicEncryption/Encoding.swift
  Sources/HomomorphicEncryption/HeScheme.swift
  Sources/HomomorphicEncryption/Plaintext.swift
  Sources/HomomorphicEncryption/SerializedCiphertext.swift
  Sources/PrivateInformationRetrieval/IndexPirProtocol.swift
Due: lockwood-swiftformat, swiftlint

Use released Swift 6.0 in CI
  .github/workflows/ci.yml
Due: none

Fix specialization of sum (#110)
  Sources/HomomorphicEncryption/HeScheme.swift
Due: lockwood-swiftformat, swiftlint

Fix PrivateNearestNeighborsSearchProtobuf docs (#111)
  Sources/PrivateNearestNeighborsSearchProtobuf/PrivateNearestNeighborsSearchProtobuf.docc/PrivateNearestNeighborsSearch.md
Due: none

Params -> Parameters
  Benchmarks/PrivateNearestNeighborsSearchBenchmark/PrivateNearestNeighborsSearchBenchmark.swift
  Sources/HomomorphicEncryption/Plaintext.swift
  Sources/PNNSProcessDatabase/ProcessDatabase.swift
  Sources/PrivateNearestNeighborsSearch/CiphertextMatrix.swift
  Sources/PrivateNearestNeighborsSearch/Client.swift
  Sources/PrivateNearestNeighborsSearch/Config.swift
  Sources/PrivateNearestNeighborsSearch/PlaintextMatrix.swift
  Sources/PrivateNearestNeighborsSearch/ProcessedDatabase.swift
  Sources/PrivateNearestNeighborsSearchProtobuf/ConversionPnns.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
  Tests/PrivateInformationRetrievalTests/PirUtilTests.swift
  Tests/PrivateNearestNeighborsSearchProtobufTests/ConversionTests.swift
  Tests/PrivateNearestNeighborsSearchTests/CiphertextMatrixTests.swift
  Tests/PrivateNearestNeighborsSearchTests/ClientTests.swift
  Tests/PrivateNearestNeighborsSearchTests/DatabaseTests.swift
  Tests/PrivateNearestNeighborsSearchTests/MatrixMultiplicationTests.swift
  Tests/PrivateNearestNeighborsSearchTests/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Params -> Parameters (#113)
  Benchmarks/PrivateNearestNeighborsSearchBenchmark/PrivateNearestNeighborsSearchBenchmark.swift
  Sources/HomomorphicEncryption/Plaintext.swift
  Sources/PNNSProcessDatabase/ProcessDatabase.swift
  Sources/PrivateNearestNeighborsSearch/CiphertextMatrix.swift
  Sources/PrivateNearestNeighborsSearch/Client.swift
  Sources/PrivateNearestNeighborsSearch/Config.swift
  Sources/PrivateNearestNeighborsSearch/PlaintextMatrix.swift
  Sources/PrivateNearestNeighborsSearch/ProcessedDatabase.swift
  Sources/PrivateNearestNeighborsSearchProtobuf/ConversionPnns.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
  Tests/PrivateInformationRetrievalTests/PirUtilTests.swift
  Tests/PrivateNearestNeighborsSearchProtobufTests/ConversionTests.swift
  Tests/PrivateNearestNeighborsSearchTests/CiphertextMatrixTests.swift
  Tests/PrivateNearestNeighborsSearchTests/ClientTests.swift
  Tests/PrivateNearestNeighborsSearchTests/DatabaseTests.swift
  Tests/PrivateNearestNeighborsSearchTests/MatrixMultiplicationTests.swift
  Tests/PrivateNearestNeighborsSearchTests/PlaintextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Use released Swift 6.0 in CI (#112)
  .github/workflows/ci.yml
Due: none

Increase swiftlint timeout
  .github/workflows/ci.yml
Due: none

Increase swiftlint timeout (#116)
  .github/workflows/ci.yml
Due: none

Simplify DoubleWidthUInt >>
  Sources/HomomorphicEncryption/DoubleWidthUInt.swift
Due: lockwood-swiftformat

Simplify DoubleWidthUInt >> (#114)
  Sources/HomomorphicEncryption/DoubleWidthUInt.swift
Due: lockwood-swiftformat

Prepare for 1.0.0 release
  README.md
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/UsingSwiftHomomorphicEncryption.md
Due: none

Prepare for 1.0.0 release (#117)
  README.md
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/UsingSwiftHomomorphicEncryption.md
Due: none

Revert 'Adopt Swift 6'
  .github/workflows/ci.yml
  Package.resolved
  Package.swift
  README.md
  Sources/HomomorphicEncryption/DoubleWidthUInt.swift
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/UsingSwiftHomomorphicEncryption.md
  Sources/HomomorphicEncryption/PolyRq/PolyRq+Randomize.swift
  Sources/HomomorphicEncryption/Random/NistCtrDrbg.swift
  Sources/HomomorphicEncryption/Scalar.swift
  Sources/HomomorphicEncryption/Util.swift
  Sources/HomomorphicEncryptionProtobuf/MessageExtensions.swift
  Tests/HomomorphicEncryptionTests/Array2dTests.swift
Due: lockwood-swiftformat, swiftlint

Revert 'Adopt Swift 6' (#118)
  .github/workflows/ci.yml
  Package.resolved
  Package.swift
  README.md
  Sources/HomomorphicEncryption/DoubleWidthUInt.swift
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/UsingSwiftHomomorphicEncryption.md
  Sources/HomomorphicEncryption/PolyRq/PolyRq+Randomize.swift
  Sources/HomomorphicEncryption/Random/NistCtrDrbg.swift
  Sources/HomomorphicEncryption/Scalar.swift
  Sources/HomomorphicEncryption/Util.swift
  Sources/HomomorphicEncryptionProtobuf/MessageExtensions.swift
  Tests/HomomorphicEncryptionTests/Array2dTests.swift
Due: lockwood-swiftformat, swiftlint

Add docs for config size
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/ParameterTuning.md
Due: none

Add docs for config size (#119)
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/ParameterTuning.md
Due: none

Parallel PIRProcessDatabase
  Sources/PIRProcessDatabase/ProcessDatabase.swift
  Sources/PrivateInformationRetrieval/KeywordDatabase.swift
  Sources/PrivateInformationRetrieval/KeywordPirProtocol.swift
Due: lockwood-swiftformat, swiftlint

Parallel PIRProcessDatabase (#120)
  Sources/PIRProcessDatabase/ProcessDatabase.swift
  Sources/PrivateInformationRetrieval/KeywordDatabase.swift
  Sources/PrivateInformationRetrieval/KeywordPirProtocol.swift
Due: lockwood-swiftformat, swiftlint

Unify installation instructions to use experimental-install
  Sources/PIRGenerateDatabase/PIRGenerateDatabase.docc/PIRGenerateDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/PIRProcessDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/ReusingPirParameters.md
  Sources/PIRShardDatabase/PIRShardDatabase.docc/PIRShardDatabase.md
  Sources/PrivateInformationRetrieval/KeywordPirProtocol.swift
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/ReusingPirParameters.md
Due: lockwood-swiftformat, swiftlint

Path conditions:
  lockwood-swiftformat: any of: \.swift$
  swiftlint: any of: \.swift$, but not: DoubleWidthUInt.swift|.pb.swift
