Repository apple/swift-homomorphic-encryption: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockwood-swiftformat, swiftlint

lockwood-swiftformat:
  name: lockwood-swiftformat
  entry: swiftformat
  language: system

swiftlint:
  name: swiftlint
  entry: swiftlint lint --strict
  language: system

Pinning ubuntu version in ci to 22.04 (#145)
  .github/workflows/ci.yml
Due: none

Add SymmetricPIR
  Package.resolved
  Package.swift
  Sources/HomomorphicEncryption/Util.swift
  Sources/PIRProcessDatabase/ProcessDatabase.swift
  Sources/PIRShardDatabase/ShardDatabase.swift
  Sources/PrivateInformationRetrieval/Error.swift
  Sources/PrivateInformationRetrieval/IndexPirProtocol.swift
  Sources/PrivateInformationRetrieval/KeywordDatabase.swift
  Sources/PrivateInformationRetrieval/KeywordPirProtocol.swift
  Sources/PrivateInformationRetrieval/SymmetricPIRProtocol.swift
  Sources/PrivateInformationRetrieval/SymmetricPirDatabase.swift
  Sources/PrivateInformationRetrievalProtobuf/ConversionError.swift
  Sources/PrivateInformationRetrievalProtobuf/ConversionPir.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_api.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/TestUtilities/TestUtilities.swift
  Tests/PIRProcessDatabaseTests/ProcessDatabaseTests.swift
  Tests/PrivateInformationRetrievalProtobufTests/ConversionTests.swift
  Tests/PrivateInformationRetrievalTests/SymmetricPIRTests.swift
Due: lockwood-swiftformat, swiftlint

Add SymmetricPIR (#144)
  Package.resolved
  Package.swift
  Sources/HomomorphicEncryption/Util.swift
  Sources/PIRProcessDatabase/ProcessDatabase.swift
  Sources/PIRShardDatabase/ShardDatabase.swift
  Sources/PrivateInformationRetrieval/Error.swift
  Sources/PrivateInformationRetrieval/IndexPirProtocol.swift
  Sources/PrivateInformationRetrieval/KeywordDatabase.swift
  Sources/PrivateInformationRetrieval/KeywordPirProtocol.swift
  Sources/PrivateInformationRetrieval/SymmetricPIRProtocol.swift
  Sources/PrivateInformationRetrieval/SymmetricPirDatabase.swift
  Sources/PrivateInformationRetrievalProtobuf/ConversionError.swift
  Sources/PrivateInformationRetrievalProtobuf/ConversionPir.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_api.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_api_pir_v1_pir.pb.swift
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/TestUtilities/TestUtilities.swift
  Tests/PIRProcessDatabaseTests/ProcessDatabaseTests.swift
  Tests/PrivateInformationRetrievalProtobufTests/ConversionTests.swift
  Tests/PrivateInformationRetrievalTests/SymmetricPIRTests.swift
Due: lockwood-swiftformat, swiftlint

Add .index-build to gitignore
  .gitignore
Due: none

Add .index-build to gitignore (#147)
  .gitignore
Due: none

PIR benchmarks report key and ciphertext counts
  Benchmarks/PrivateInformationRetrievalBenchmark/PrivateInformationRetrievalBenchmark.swift
Due: lockwood-swiftformat, swiftlint

Don't run CI on ready_for_review
  .github/workflows/ci.yml
Due: none

PIR benchmarks report key and ciphertext counts (#148)
  Benchmarks/PrivateInformationRetrievalBenchmark/PrivateInformationRetrievalBenchmark.swift
Due: lockwood-swiftformat, swiftlint

Don't run CI on ready_for_review (#149)
  .github/workflows/ci.yml
Due: none

Add signed {en/de}coding benchmarks
  Benchmarks/RlweBenchmark/RlweBenchmark.swift
Due: lockwood-swiftformat, swiftlint

HEApiTests call HeApiTestUtils
  Sources/TestUtilities/HeApiTestUtils.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
Due: lockwood-swiftformat, swiftlint

Add signed {en/de}coding benchmarks (#151)
  Benchmarks/RlweBenchmark/RlweBenchmark.swift
Due: lockwood-swiftformat, swiftlint

HEApiTests call HeApiTestUtils (#152)
  Sources/TestUtilities/HeApiTestUtils.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
Due: lockwood-swiftformat, swiftlint

Fix CI
  .github/workflows/ci.yml
Due: none

Fix CI (#154)
  .github/workflows/ci.yml
Due: none

Fix linking to c_zeroize with Cxx mode
  Sources/CUtil/zeroize.h
Due: none

Fix linking to c_zeroize with Cxx mode (#153)
  Sources/CUtil/zeroize.h
Due: none

Fix CI
  .github/workflows/ci.yml
  .gitignore
  Sources/HomomorphicEncryption/Keys.swift
Due: lockwood-swiftformat, swiftlint

Fix CI (#155)
  .github/workflows/ci.yml
  .gitignore
  Sources/HomomorphicEncryption/Keys.swift
Due: lockwood-swiftformat, swiftlint

Update dependencies
  Package.resolved
  Sources/TestUtilities/TestUtilities.swift
Due: lockwood-swiftformat, swiftlint

Add async APIs
  Sources/HomomorphicEncryption/Bfv/Bfv.swift
  Sources/HomomorphicEncryption/Ciphertext.swift
  Sources/HomomorphicEncryption/HeScheme.swift
  Sources/HomomorphicEncryption/HeSchemeAsync.swift
  Sources/HomomorphicEncryption/NoOpScheme.swift
  Sources/PNNSGenerateDatabase/PNNSGenerateDatabase.docc/PNNSGenerateDatabase.md
  Sources/PNNSProcessDatabase/PNNSProcessDatabase.docc/PNNSProcessDatabase.md
  Sources/TestUtilities/HeApiTestUtils.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
Due: lockwood-swiftformat, swiftlint

Fix linking to c_zeroize with Cxx mode (#153) (#156)
  Sources/CUtil/zeroize.h
Due: none

Update dependencies (#157)
  Package.resolved
  Sources/TestUtilities/TestUtilities.swift
Due: lockwood-swiftformat, swiftlint

minor cleanups
  README.md
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/UsingSwiftHomomorphicEncryption.md
Due: none

Adopt github-workflows
  .github/workflows/ci.yml
  ci/install-lockwood-swiftformat.sh
  ci/install-swiftlint.sh
  ci/run-apple-swift-format.sh
Due: none

Fix swiftlint with newer swift versions
  Sources/PIRProcessDatabase/ProcessDatabase.swift
  Sources/PNNSProcessDatabase/ProcessDatabase.swift
Due: lockwood-swiftformat, swiftlint

Update documentation links to 1.0.3
  README.md
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/HomomorphicEncryption.md
  Sources/HomomorphicEncryptionProtobuf/HomomorphicEncryptionProtobuf.docc/HomomorphicEncryptionProtobuf.md
  Sources/PIRGenerateDatabase/PIRGenerateDatabase.docc/PIRGenerateDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/PIRProcessDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/ReusingPirParameters.md
  Sources/PIRShardDatabase/PIRShardDatabase.docc/PIRShardDatabase.md
  Sources/PNNSGenerateDatabase/PNNSGenerateDatabase.docc/PNNSGenerateDatabase.md
  Sources/PNNSProcessDatabase/PNNSProcessDatabase.docc/PNNSProcessDatabase.md
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/EncodingPipeline.md
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/ParameterTuning.md
  Sources/PrivateInformationRetrievalProtobuf/PrivateInformationRetrievalProtobuf.docc/PrivateInformationRetrievalProtobuf.md
  Sources/PrivateNearestNeighborSearch/PrivateNearestNeighborSearch.docc/PrivateNearestNeighborSearch.md
  Sources/PrivateNearestNeighborSearchProtobuf/PrivateNearestNeighborSearchProtobuf.docc/PrivateNearestNeighborSearch.md
Due: none

Update documentation links to 1.0.3 (#160)
  README.md
  Sources/HomomorphicEncryption/HomomorphicEncryption.docc/HomomorphicEncryption.md
  Sources/HomomorphicEncryptionProtobuf/HomomorphicEncryptionProtobuf.docc/HomomorphicEncryptionProtobuf.md
  Sources/PIRGenerateDatabase/PIRGenerateDatabase.docc/PIRGenerateDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/PIRProcessDatabase.md
  Sources/PIRProcessDatabase/PIRProcessDatabase.docc/ReusingPirParameters.md
  Sources/PIRShardDatabase/PIRShardDatabase.docc/PIRShardDatabase.md
  Sources/PNNSGenerateDatabase/PNNSGenerateDatabase.docc/PNNSGenerateDatabase.md
  Sources/PNNSProcessDatabase/PNNSProcessDatabase.docc/PNNSProcessDatabase.md
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/EncodingPipeline.md
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/ParameterTuning.md
  Sources/PrivateInformationRetrievalProtobuf/PrivateInformationRetrievalProtobuf.docc/PrivateInformationRetrievalProtobuf.md
  Sources/PrivateNearestNeighborSearch/PrivateNearestNeighborSearch.docc/PrivateNearestNeighborSearch.md
  Sources/PrivateNearestNeighborSearchProtobuf/PrivateNearestNeighborSearchProtobuf.docc/PrivateNearestNeighborSearch.md
Due: none

Update swift-homomorphic-encryption-protobuf commit
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_api.pb.swift
Due: lockwood-swiftformat

Adopt github-workflows
  .github/workflows/ci.yml
  Package.resolved
  Package.swift
  README.md
  Sources/HomomorphicEncryption/Modulus.swift
  Sources/HomomorphicEncryptionProtobuf/HomomorphicEncryptionProtobuf.docc/HomomorphicEncryptionProtobuf.md
  Sources/ModularArithmetic/Modulus.swift
  Sources/PrivateInformationRetrieval/PrivateInformationRetrieval.docc/EncodingPipeline.md
  Sources/PrivateInformationRetrievalProtobuf/PrivateInformationRetrievalProtobuf.docc/PrivateInformationRetrievalProtobuf.md
  Sources/PrivateNearestNeighborSearchProtobuf/PrivateNearestNeighborSearchProtobuf.docc/PrivateNearestNeighborSearch.md
  ci/install-lockwood-swiftformat.sh
  ci/install-swiftlint.sh
  ci/run-apple-swift-format.sh
Due: lockwood-swiftformat, swiftlint

Added CiphertextMultiplyInversePowerOfX benchmark
  Benchmarks/RlweBenchmark/RlweBenchmark.swift
Due: lockwood-swiftformat, swiftlint

Added CiphertextMultiplyInversePowerOfX benchmark (#162)
  Benchmarks/RlweBenchmark/RlweBenchmark.swift
Due: lockwood-swiftformat, swiftlint

Add async APIs (#158)
  Sources/HomomorphicEncryption/Bfv/Bfv.swift
  Sources/HomomorphicEncryption/Ciphertext.swift
  Sources/HomomorphicEncryption/HeScheme.swift
  Sources/HomomorphicEncryption/HeSchemeAsync.swift
  Sources/HomomorphicEncryption/NoOpScheme.swift
  Sources/PNNSGenerateDatabase/PNNSGenerateDatabase.docc/PNNSGenerateDatabase.md
  Sources/PNNSProcessDatabase/PNNSProcessDatabase.docc/PNNSProcessDatabase.md
  Sources/TestUtilities/HeApiTestUtils.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
Due: lockwood-swiftformat, swiftlint

Update swift-homomorphic-encryption-protobuf commit (#161)
  Sources/PrivateInformationRetrievalProtobuf/generated/apple_swift_homomorphic_encryption_pir_v1_pir.pb.swift
  Sources/PrivateNearestNeighborSearchProtobuf/generated/apple_swift_homomorphic_encryption_api_pnns_v1_api.pb.swift
Due: lockwood-swiftformat

Migrate CiphertextMatrixTests, DatabaseTests and MatrixMultiplicationTests to Swift Testing
  Tests/PrivateNearestNeighborSearchTests/CiphertextMatrixTests.swift
  Tests/PrivateNearestNeighborSearchTests/DatabaseTests.swift
  Tests/PrivateNearestNeighborSearchTests/MatrixMultiplicationTests.swift
Due: lockwood-swiftformat, swiftlint

Adopt swift testing in HeApiTestUtils
  Sources/TestUtilities/HeApiTestUtils.swift
  Sources/TestUtilities/TestUtilities.swift
  Tests/HomomorphicEncryptionTests/HeAPITests.swift
Due: lockwood-swiftformat, swiftlint

Update CiphertextMatrixTests.swift
  Tests/PrivateNearestNeighborSearchTests/CiphertextMatrixTests.swift
Due: lockwood-swiftformat, swiftlint

Path conditions:
  lockwood-swiftformat: any of: \.swift$
  swiftlint: any of: \.swift$, but not: DoubleWidthUInt.swift|.pb.swift
